*{
    box-sizing: border-box;
    border:none ;
    outline: none;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    background: #ffffff
}
.wrapper{
    display:flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    gap: 10px;
    margin: 5px;
}



.Container{
    background: rgb(83, 17, 17);
    padding: 15px;
    box-shadow: 0 1px 2px #E000;
    display:flex;
    flex-direction: column;
    gap:5px;
}